<footer>
    <div class="footer-container d-flex flex-column align-items-center">
        <div class="footer-about d-flex justify-content-around">
            <div class="footer-about-item-first">
                <div class="footer-about-item-company">
                    <p class="footer-about-header">PT Teknologi Server Indonesia</p>
                    <p class="footer-about-content">
                        X-code (PT. Teknologi Server Indonesia) adalah perusahaan cyber security dan 
                        server yang berbadan hukum dari kota Yogyakarta, kantor kami ada 3 dengan 
                        kantor pusat di Kotagede Jogja, kantor research & development di minggiran jogja 
                        dan kantor perwakilan di jakarta berada di Kebayoran lama, Jakarta selatan.
                    </p>
                </div>
                <div class="footer-about-item-socialmedia">
                    <p class="footer-about-header">Media Sosial</p>
                </div>
            </div>
            <div class="footer-about-item-second">
                <div class="footer-about-item-company">
                    <p class="footer-about-header">Layanan</p>
                    <p class="footer-about-body">Jasa Pembuatan Website </p>
                    <p class="footer-about-body">Jasa Custom Website</p>
                    <p class="footer-about-body">Jasa Redesign Website</p>
                </div>
                <div class="footer-about-item-company">
                    <p class="footer-about-header">Perusahaan</p>
                    <p class="footer-about-body">Review Pelanggan</p>
                    <p class="footer-about-body">Tentang Kami</p>
                    <p class="footer-about-body">Blog</p>
                    <p class="footer-about-body">Karir</p>
                    <p class="footer-about-body">Kemitraan</p>
                </div>
            </div>
            <div class="footer-about-item-third">
                <div class="footer-about-item-company">
                    <p class="footer-about-header">Hubungi Kami</p>
                    <p class="footer-about-body">Whatsapp: +62 8580 3946 032</p>
                    <p class="footer-about-body">Telepon: 0822-6536-2553</p>
                    <p class="footer-about-body">Email: admin@xcodetraining.com</p>
                </div>
                <div class="footer-about-item-company">
                    <p class="footer-about-header">Kantor</p>
                    <p class="footer-about-content">Head Office : Jl. Kebun Raya Gg. Terate No. 29 Timur Gembira Loka Zoo (Lantai 2), Yogyakarta, Indonesia.</p>
                    <p class="footer-about-content">Satellite office : Minggiran MJ2 RT 58 RW 16, Suryodiningratan, Mantrijeron, Yogyakarta, Indonesia.</p>
                </div>
            </div>
        </div>
        <div class="footer-copy text-center">
            <p class="mb-0">&copy; Copyright X-code - PT. Teknologi Server Indonesia, Yogyakarta, Indonesia. 2004 - 2024. All Rights Reserved</p>
        </div>
    </div>
</footer>
